@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

hr{
    color: rgb(218, 218, 218);
}

body{
    background-color: rgb(250, 250, 250);
}

header {
    height: 100px;
}

.logo{
    padding-top: 8px;
    width: 150px;
    
}

#search {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

#search input {
 height: 45px;
 width: 400px;
 border: solid 1px;
 border-color: rgb(219, 242, 255);
 padding-left: 43px;
 font-size: 1.2em;
}

#search input:focus + #search button {
    color: white;
  }

 #search img {
    position: absolute;
    top: 12px;
    left: 10px;
 } 

#search button {
    position: absolute;
    left: 350px;
    border-radius: 0px;
    height: 45px;
    width: 50px;
    background-color: rgb(233, 233, 252);
    border: none;
    color: black;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
}



#cover {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    padding: 20px;
}

#top {
    display: grid;
    place-items: center;
}

#top h1 {
    padding-top: 100px;
    font-weight: 600;
}

#top img{
    width: 200px;
}

#cityname {
    margin-top: 40px;
    text-transform:capitalize;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.daycover{
    min-height: 100px;
    max-width: 850px;
    background-color: white;
    margin-bottom: 10px;
}

.day {
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.day:hover, .active{
    background-color:aliceblue;
}

.day div  {
    
    width: 200px;
    display: flex;
    place-items: center;
    
}

.day div:nth-of-type(2){
    margin-left: 100px;
}



.icon{
    height: 25px;
    margin-right: 5px;
}

.weatherImg {
    height: 70px;
}

.date{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.dag {
    
    font-weight: 500;
    font-size: 1.1em;
    margin-right: auto;
}

.month {
    margin-right: auto;
}

h3 {
    font-size: 1.4em;
    font-weight: 400;
}

.expand {
    
    display: none;
}



.expand hr {
    margin-bottom: 15px;
}

.dayPart {
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 7px;
}



.dayPart img {
    height: 30px;
}

.dayPart h3 {
    font-size: 1em;
}

.dayPart div  {
    
    width: 200px;
    display: flex;
    place-items: center;
    
}

.dayPart .icon {
    height: 18px;
}

.dayPart div:nth-of-type(2){
    margin-left: 120px;
}

.dayPart div:nth-of-type(1){
    justify-content: space-around;
}